{% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="https://birmingham-infragard.org/">InfraGard - Birmingham, AL</a></h3>
          <h4 class="resume-item-details">2010 &mdash; Present</h4>
          <p class="resume-item-copy"></p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://www.meetup.com/SplunkATL/">SplunkATL Meetup - Atlanta, GA</a></h3>
          <h4 class="resume-item-details">2013 &mdash; Present</h4>
          <p class="resume-item-copy"></p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}