{% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="affiliation" itemtype="http://schema.org/Person">
          <h3 class="resume-item-title" itemprop="name">Western Governors University</h3>
          <h4 class="resume-item-details" itemprop="description">Bachelor Degree, Information Technology</h4>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}