{% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://donutlocator.io">donutfinder.io</a></h3>
          <h4 class="resume-item-details">Founder & Primary Developer &bull; 2012 &mdash; Present</h4>
          <p class="resume-item-copy">Donut Locator is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Donut Eater's User Group</h3>
          <h4 class="resume-item-details">Co-Founder & Organizer &bull; 2007 &mdash; Present</h4>
          <p class="resume-item-copy">DEUG is a local monthly meetup in Springfield where we share all the latest tips and tricks for dat donut lifestyle. I organize the group, and typically eat most of the donuts.</p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}