<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      
      {% include resume_header.html %}
      {% include skills.html %}
      {% include experience.html %}
      {% include education.html %}
      {% include projects.html %}
      {% include recognition.html %}
      {% include associations.html %}
      {% include links.html %}
      

      
    </div>

  </body>

</html>
